body {
  background-image: url("mountains.jpeg");
  background-size: 100%;
}

.weather-wrapper {
  width: 35rem;
  margin: 15px auto;
}

.weatherapp {
  padding: 20px;
  background-color: #e4ca83;
  border: 4px solid black;
  border-radius: 10px;
}

.form-row {
  width: 30rem;
}

.Sourcecode small {
  color: white;
}

.Date #date-time {
  font-size: 14px;
  display: inline;
  margin: 15px auto;
}

.Maindescription .icon img {
  position: absolute;
  bottom: 65%;
  left: 40%;
}
