body {
  background-image: url("./mountains.jpeg");
  background-size: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.App .weather-wrapper {
  width: 38rem;
  margin: 15px auto;
}

.App .weatherapp {
  padding: 20px;
  background-color: #e4ca83;
  border: 4px solid black;
  border-radius: 15px;
}

.Weather form {
  /* width: 30rem; */
  margin: 10px 40px;
  display: block;
}

.Weather .search-input {
  /* display: inline-block; */
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
}

.Sourcecode small {
  color: white;
}

.FormattedDate {
  font-size: 15px;
  margin: 5px auto;
  font-weight: bold;
}

.WeatherUpdate .heading {
  text-align: center;
  font-family: "Mulish", sans-serif;
  text-transform: capitalize;
}
/* 
.WeatherUpdate .city {
  text-align: center;
  font-family: "Mulish", sans-serif;
  text-transform: capitalize;
} */

.WeatherUpdate .text-description {
  margin: 18px 0;
}

/* .WeatherUpdate .temperature {
  text-align: center;
  font-family: "Mulish", sans-serif;
  text-transform: capitalize;
} */

.WeatherUpdate .otherData {
  margin: 25px 60px 0;
  text-align: center;
  font-size: medium;
}

.WeatherTemperature .temp {
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
  left: 29px;
}

.WeatherTemperature .units {
  position: relative;
  top: -20px;
  left: 42px;
  font-size: 20px;
}

.Forecast {
  text-align: center;
  margin: 20px 0 0 0;
  /* margin: 10px 0;
  border: 2px solid black;
  padding: 10px 0;
  border-radius: 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  ); */
}

/* .WeatherIcon {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  position: absolute;
  bottom: 65%;
  left: 40%;
} */

.WeatherUpdate .icon {
  text-align: center;
  padding: 15px 0 10px;
}

/* .ForecastDay .ForecastDayIcon {
  margin: 10px 0;
} */

.ForecastDay .Forecast-temperatures {
  color: blue;
  font-size: 15px;
  font-weight: 400;
}

.ForecastDay .Day {
  margin: 0 0 5px 0;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
}

.WeatherUpdate .mainData {
  border: 2px solid black;
  margin: 10px 30px;
  padding: 5px 0;
  border-radius: 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}
