.Forecast {
  text-align: center;
}

/* .ForecastIcon {
  display: block;
  margin: 0 auto;
  size: 40;
} */

.Forecast-temperatures {
  text-align: center;
  color: blue;
  font-size: 15px;
  font-weight: 400;
}
